* {
    font-family: 'Press Start 2P', system-ui;
}

body {
    font-size: 16px;
    color: #212529;
    background-color: #cec9cc;
    -webkit-font-smoothing: none;
    margin: 0;
}



#mainDiv {
    text-align: left;
    margin: 0 auto; /* Esto centra el mainDiv horizontalmente */
    width: 50%; /* Ajusta el ancho según tus necesidades */
    padding: 20px; /* Ajusta según tus preferencias */
    background-color: #908a99;
    border: 4px solid black;
    margin-top: 2em;
}

#meImg {
    width: 200px;
    
}

img {
    border: 4px solid black;
}

#aboutDiv {
    display: flex;
    justify-content: center;
}

#btnDiv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-left: 1em;
}

.nes-btn {
    width: 100%;
    height: 50%;
    padding: 0px;
    border: 4px solid black;
}

#contact {
    width: 50%;
    margin: 0 auto;
}

#projectImg {
    width: 100%;
    height: 10em;
}

#project {
    width: 25%;
}
#projectBtn {
    width: 80%;
}

#mainProjects {
    display: flex;
}

#skillsDiv {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#project {
    background-color: #b5b6e4;
    margin-bottom: 2em;
}

header {
    background-color: #b5b6e4;
    border-bottom: 4px solid black;
    padding: 1em;
}

#skills {
    margin-bottom: 2em;
}

#carreer {
    margin-bottom: 2em;
}

span {
    color: #4f43ae;
}

#gamesDiv {
    display: flex;
}